In [ ]:
# Tasks on Nifty data sets:
# 1) In 2022 how many days was nifty 50 volatile ( high > 105% of low).
# 2) In 2022 how many days was nifty Next 50 volatile ( high > 105% of low).
# 3) In 2022 how many days belonged to 4 classes (nifty 50 volatile , nifty 50  non volatile , Next 50 volatile & Next 50 non volatile ).
# 4) Compute the mean, median and std var of closing value for each weekday in nifty 50 for 2022.
# 5) Compute the mean, median and std var of closing value for each month in nifty 50 for 2022.
# 6) On days where nifty50 closed higher than the open, what was the mean of ( close – open) for niftyNext 50.
# 7) In 2022, how many days had the days high lower then the pervious days low in nifty50.
# 8) In 2022, how many days did days close exceed the 30day moving average in niftyNext50(Excluding first month.)

In [ ]:
# find the below using numpy:
# 1) What fraction of days did the market close higher than the previous day’s close
# 2) Compute moving average of the last 5 days
# 3) Subset the data to include only data for Friday

In [ ]:
import pandas as pd
import numpy as np
nfty_50 = pd.read_csv("NIFTY 50_Data.csv")
print(nfty_50)

           Date      Open      High       Low     Close
0   17 Jan 2023  17922.80  18072.05  17886.95  18053.30
1   16 Jan 2023  18033.15  18049.65  17853.65  17894.85
2   13 Jan 2023  17867.50  17999.35  17774.25  17956.60
3   12 Jan 2023  17920.85  17945.80  17761.65  17858.20
4   11 Jan 2023  17924.25  17976.35  17824.35  17895.70
..          ...       ...       ...       ...       ...
91  07 Sep 2022  17519.40  17650.75  17484.30  17624.40
92  06 Sep 2022  17695.70  17764.65  17587.65  17655.60
93  05 Sep 2022  17546.45  17683.15  17540.35  17665.80
94  02 Sep 2022  17598.40  17643.85  17476.45  17539.45
95  01 Sep 2022  17485.70  17695.60  17468.45  17542.80

[96 rows x 5 columns]

In [ ]:
# 1) In 2022 how many days was nifty 50 volatile ( high > 105% of low).
nfty_50[(nfty_50["High"])>(nfty_50["Low"]*(105/100))].count()

Date     0
Open     0
High     0
Low      0
Close    0
dtype: int64

In [ ]:
#2) In 2022 how many days was nifty Next 50 volatile ( high > 105% of low).
nfty_next_50=pd.read_csv("NIFTY NEXT 50_Data.csv")
print(nfty_next_50)
nfty_next_50[(nfty_next_50["High"])>(nfty_next_50["Low"]*(105/100))].count()

            Date      Open      High       Low     Close
0    30 Dec 2022  42542.75  42665.35  42105.30  42187.65
1    29 Dec 2022  42089.45  42435.65  41739.85  42252.55
2    28 Dec 2022  42116.60  42395.15  41987.20  42261.45
3    27 Dec 2022  41946.70  42178.35  41764.75  42139.40
4    26 Dec 2022  40773.00  41856.65  40401.40  41712.70
..           ...       ...       ...       ...       ...
243  07 Jan 2022  42739.05  42964.85  42574.20  42826.35
244  06 Jan 2022  42531.05  42678.60  42300.45  42649.60
245  05 Jan 2022  42574.40  42789.25  42431.50  42760.40
246  04 Jan 2022  42746.80  42776.80  42247.15  42556.35
247  03 Jan 2022  42323.50  42607.90  42289.65  42549.70

[248 rows x 5 columns]

Date     0
Open     0
High     0
Low      0
Close    0
dtype: int64

In [ ]:
# 3) In 2022 how many days belonged to 4 classes (nifty 50 volatile , nifty 50  non volatile , Next 50 volatile & Next 50 non volatile ).
nfty_50["volatile"]=(nfty_50["High"])>(nfty_50["Low"]*(105/100))
nfty_50["non_volatile"]=(nfty_50["High"])<(nfty_50["Low"]*(105/100))
nfty_next_50["next_volatile"]=(nfty_50["High"])>(nfty_50["Low"]*(105/100))
nfty_next_50["next_non_volatile"]=(nfty_50["High"])<(nfty_50["Low"]*(105/100))
print(nfty_next_50["next_volatile"].count())
print(nfty_50,"\n",nfty_next_50)
# print(pd.DataFrame(nfty_50["volatile"],nfty_next_50["next_volatile"]))

NameError: ignored

In [ ]:
#4) Compute the mean, median and std var of closing value for each weekday in nifty 50 for 2022.
print(nfty_50["Close"].describe(include="all"))
nfty_50["Close"].median()

count       96.000000
mean     17934.648958
std        493.376136
min      16818.100000
25%      17623.862500
50%      18013.400000
75%      18278.662500
max      18812.500000
Name: Close, dtype: float64

18013.4

In [ ]:
#5) Compute the mean, median and std var of closing value for each month in nifty 50 for 2022.

In [ ]:
#6) On days where nifty50 closed higher than the open, what was the mean of ( close – open) for niftyNext 50.
nfty_50=pd.read_csv("NIFTY 50_Data.csv", index_col=0)
nfty_next_50=pd.read_csv("NIFTY 50_Data.csv", index_col=0)
cl=nfty_50["Close"]
op=nfty_50["Open"]
cl_nxt = nfty_next_50["Close"]
op_nxt = nfty_next_50["Open"]
mean_next_50 = (cl_nxt-op_nxt).mean()
new_df_50_nxt=pd.DataFrame({'Close':cl,'Open':op})
new_df_50_nxt["diff"]=(cl_nxt-op_nxt)
new_df_50_nxt[(new_df_50_nxt["Close"]>new_df_50_nxt["Open"])]

                Close      Open    diff
Date
17 Jan 2023  18053.30  17922.80  130.50
13 Jan 2023  17956.60  17867.50   89.10
09 Jan 2023  18101.20  17952.55  148.65
03 Jan 2023  18232.55  18163.20   69.35
02 Jan 2023  18197.45  18131.70   65.75
29 Dec 2022  18191.00  18045.70  145.30
28 Dec 2022  18122.50  18084.75   37.75
27 Dec 2022  18132.30  18089.80   42.50
26 Dec 2022  18014.60  17830.40  184.20
20 Dec 2022  18385.30  18340.30   45.00
19 Dec 2022  18420.45  18288.10  132.35
13 Dec 2022  18608.00  18524.40   83.60
12 Dec 2022  18497.15  18402.15   95.00
08 Dec 2022  18609.35  18570.85   38.50
06 Dec 2022  18642.75  18600.65   42.10
30 Nov 2022  18758.35  18625.70  132.65
29 Nov 2022  18618.05  18552.45   65.60
28 Nov 2022  18562.75  18430.55  132.20
24 Nov 2022  18484.10  18326.10  158.00
22 Nov 2022  18244.20  18179.15   65.05
16 Nov 2022  18409.65  18398.25   11.40
15 Nov 2022  18403.40  18362.75   40.65
11 Nov 2022  18349.70  18272.35   77.35
04 Nov 2022  18117.15  18053.40   63.75
03 Nov 2022  18052.70  17968.35   84.35
01 Nov 2022  18145.40  18130.70   14.70
31 Oct 2022  18012.20  17910.20  102.00
28 Oct 2022  17786.80  17756.40   30.40
20 Oct 2022  17563.95  17423.10  140.85
18 Oct 2022  17486.95  17438.75   48.20
17 Oct 2022  17311.80  17144.80  167.00
12 Oct 2022  17123.60  17025.55   98.05
10 Oct 2022  17241.00  17094.35  146.65
07 Oct 2022  17314.65  17287.20   27.45
04 Oct 2022  17274.30  17147.45  126.85
30 Sep 2022  17094.35  16798.05  296.30
22 Sep 2022  17629.80  17609.65   20.15
20 Sep 2022  17816.25  17770.40   45.85
19 Sep 2022  17622.25  17540.65   81.60
14 Sep 2022  18003.75  17771.15  232.60
13 Sep 2022  18070.05  18044.45   25.60
12 Sep 2022  17936.35  17890.85   45.50
08 Sep 2022  17798.75  17748.15   50.60
07 Sep 2022  17624.40  17519.40  105.00
05 Sep 2022  17665.80  17546.45  119.35
01 Sep 2022  17542.80  17485.70   57.10

In [ ]:
# 7) In 2022, how many days had the days high lower then the pervious days low in nifty50.
days=0
x=list(nfty_50["Low"])  
y=list(nfty_50["High"])
a=x
b=y[1::]
z=list(zip(a,b))
print(z)
for x,y in z:
  if y>x:
    days+=1
print(days)

[(17886.95, 18049.65), (17853.65, 17999.35), (17774.25, 17945.8), (17761.65, 17976.35), (17824.35, 18127.6), (17856.0, 18141.4), (17936.15, 18047.4), (17795.55, 18120.3), (17892.6, 18243.0), (18020.6, 18251.95), (18149.8, 18215.15), (18086.5, 18265.25), (18080.3, 18229.7), (17992.8, 18173.1), (18068.35, 18149.25), (17967.45, 18084.1), (17774.25, 18050.45), (17779.5, 18318.75), (18068.6, 18473.35), (18162.75, 18404.9), (18202.65, 18431.65), (18244.55, 18440.95), (18255.15, 18652.9), (18387.7, 18696.1), (18632.9, 18617.25), (18490.2, 18521.55), (18345.7, 18664.7), (18410.1, 18625.0), (18536.95, 18668.3), (18528.4, 18654.9), (18577.9, 18728.6), (18591.35, 18781.95), (18639.2, 18887.6), (18778.2, 18816.05), (18616.55, 18678.1), (18552.15, 18614.25), (18365.6, 18534.9), (18445.1, 18529.7), (18294.25, 18325.4), (18246.0, 18261.85), (18137.7, 18262.3), (18133.35, 18394.6), (18209.8, 18417.6), (18312.95, 18442.15), (18344.15, 18427.95), (18282.0, 18399.45), (18311.4, 18362.3), (18259.35, 18103.1), (17969.4, 18296.4), (18117.5, 18255.5), (18064.75, 18135.1), (18017.15, 18106.3), (17959.2, 18178.75), (18048.65, 18175.8), (18060.15, 18022.8), (17899.9, 17838.9), (17723.7, 17783.9), (17654.5, 17811.5), (17637.0, 17777.55), (17707.4, 17670.15), (17520.75, 17584.15), (17421.0, 17607.6), (17472.85, 17527.8), (17434.05, 17328.55), (17098.55, 17348.55), (17169.75, 17112.35), (16956.95, 17142.35), (16960.05, 17261.8), (16950.3, 17280.15), (17064.7, 17337.35), (17216.95, 17428.8), (17315.65, 17287.3), (17117.3, 17114.65), (16855.55, 17187.1), (16747.7, 17026.05), (16788.6, 17037.6), (16820.4, 17176.45), (16942.35, 17196.4), (16978.3, 17642.15), (17291.65, 17722.75), (17532.45, 17838.7), (17663.6, 17919.3), (17744.4, 17667.2), (17429.7, 17820.05), (17497.25, 18096.15), (17861.5, 18091.55), (17771.15, 18088.3), (18015.45, 17980.55), (17889.15, 17925.95), (17786.0, 17807.65), (17691.95, 17650.75), (17484.3, 17764.65), (17587.65, 17683.15), (17540.35, 17643.85), (17476.45, 17695.6)]
83

In [ ]:
# 8) In 2022, how many days did days close exceed the 30day moving average in niftyNext50(Excluding first month.)

#SMA 
def sma(data,period =30, column="Close"):
  return data[column].rolling(window=period).mean()

nfty_50["MVA_30"]=sma(nfty_50)
nfty_50["cls_exced_SMA"]=nfty_50["Close"]>nfty_50["MVA_30"]
print(nfty_50)
print(nfty_50["cls_exced_SMA"].value_counts())
# 26 times

                 Open      High       Low     Close        MVA_30  \
Date
17 Jan 2023  17922.80  18072.05  17886.95  18053.30           NaN
16 Jan 2023  18033.15  18049.65  17853.65  17894.85           NaN
13 Jan 2023  17867.50  17999.35  17774.25  17956.60           NaN
12 Jan 2023  17920.85  17945.80  17761.65  17858.20           NaN
11 Jan 2023  17924.25  17976.35  17824.35  17895.70           NaN
...               ...       ...       ...       ...           ...
07 Sep 2022  17519.40  17650.75  17484.30  17624.40  17408.365000
06 Sep 2022  17695.70  17764.65  17587.65  17655.60  17413.143333
05 Sep 2022  17546.45  17683.15  17540.35  17665.80  17419.105000
02 Sep 2022  17598.40  17643.85  17476.45  17539.45  17426.693333
01 Sep 2022  17485.70  17695.60  17468.45  17542.80  17438.596667

             cls_exced_SMA
Date
17 Jan 2023          False
16 Jan 2023          False
13 Jan 2023          False
12 Jan 2023          False
11 Jan 2023          False
...                    ...
07 Sep 2022           True
06 Sep 2022           True
05 Sep 2022           True
02 Sep 2022           True
01 Sep 2022           True

[96 rows x 6 columns]
False    70
True     26
Name: cls_exced_SMA, dtype: int64

In [ ]:
#USING NUMPY
#1) What fraction of days did the market close higher than the previous day’s close
import numpy as np
y=nfty_50["Close"]
z=y.count()
arr=np.array(y)

def mrk_cls(arr,days=0):
  j=1
  for i in arr:
    if arr[j]>i:
      days+=1
  return days

fraction_days= mrk_cls(arr)/z
print(fraction_days)

0.4166666666666667

In [ ]:
# 2) Compute moving average of the last 5 days.
last_5=nfty_50.tail()
#using numpy
#moving average of close().
last_close=last_5["Close"]
arr_close=np.array(last_close)
print(arr_close)
window_size = 3
# Initialize an empty list to store moving averages
mvg_avg=[]
i = 0
# Loop through the array to
#consider every window of size 3
while i < len(arr_close) - window_size + 1:
  
    # Calculate the average of current window
    window_average = round(np.sum(arr_close[
      i:i+window_size]) / window_size, 2)
      
    # Store the average of current
    # window in moving average list
    mvg_avg.append(window_average)
      
    # Shift window to right by one position
    i += 1
  
print(mvg_avg)

[17624.4  17655.6  17665.8  17539.45 17542.8 ]
[17648.6, 17620.28, 17582.68]

In [ ]:
#3) Subset the data to include only data for Friday.

In [ ]:
z=filter(lambda x:x%2==0,[2,3,4,5,6,7,8,9])
print(list(z))

[2, 4, 6, 8]

In [ ]:
from functools import reduce
reduce(lambda x,y:x+y,[2,3,4,5,6,7,8])

35

In [ ]:
def add(x,y):
  sum=x+y
  return sum

reduce(add,[2,3,4,5,6,7,8])

35

In [ ]:
l=[2,3,4,5,6,7,8]
np.array(l).sum()

35

In [ ]:
def add1(l):
  sum=0
  for i in l:
    sum=sum+i
  return sum

add1([2,3,4,5,6,7,8])

35

In [ ]:
z=0
l=
for i in range(0,len(l)+!):
  sum = add(z,i)