In [ ]:
#1) Upload the data file, view the data file in Colab 
#2) Read and Assign it to a variable called users and use the 'user_id' as index
#3) See the first 25 entries 
#4) See the last 10 entries 
#5) What is the number of observations in the dataset? 
#6) What is the number of columns in the dataset? 
#7) Print the name of all the columns. 
#8) How is the dataset indexed? 
#9) What is the data type of each column? 
#10) Print only the occupation column
#11) How many different occupations are in this dataset? 
#12) What is the most frequent occupation? 
#13) Summarize the DataFrame. 
#14) Summarize all the columns. 
#15) Summarize only the occupation column?
#16) What is the mean age of users? 
#17) What is the age with least occurrence? 
#18) Discover what is the mean age per occupation 
#19) Discover the Male ratio per occupation and sort it from the most to the least 
#20) For each occupation, calculate the minimum and maximum ages 
#21) For each combination of occupation and gender, calculate the mean age 
#22) For each occupation present the percentage of women and men

In [ ]:
# 1) Upload the data file, view the data file in Colab.
import numpy as np
import pandas as pd
import seaborn as sb
users= pd.read_csv("occ.csv", delimiter="|")
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [ ]:
##2) Read and Assign it to a variable called users and use the 'user_id' as index
#method-1
users= pd.read_csv("occ.csv", delimiter="|")
users.index=users["user_id"]
print(users)
users.drop("user_id", axis=1 ,inplace=True)
print(users)

         user_id  age gender     occupation zip_code
user_id
1              1   24      M     technician    85711
2              2   53      F          other    94043
3              3   23      M         writer    32067
4              4   24      M     technician    43537
5              5   33      F          other    15213
...          ...  ...    ...            ...      ...
939          939   26      F        student    33319
940          940   32      M  administrator    02215
941          941   20      M        student    97229
942          942   48      F      librarian    78209
943          943   22      M        student    77841

[943 rows x 5 columns]
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [ ]:
##2) Read and Assign it to a variable called users and use the 'user_id' as index
print("METHOD-2")
users= pd.read_csv("occ.csv", delimiter="|",index_col="user_id") # to make use of colum data as index.
print(users)

METHOD-2
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [ ]:
#3) See the first 25 entries 
x=users.loc[1:26]
print(x)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044

In [ ]:
#4) See the last 10 entries
print(users.loc[933:943])

         age gender     occupation zip_code
user_id
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [ ]:
#5) What is the number of observations in the dataset?
print(users.describe)
print(users.info)

<bound method NDFrame.describe of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>
<bound method DataFrame.info of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

In [ ]:
#6) What is the number of columns in the dataset? 
col=users.columns
print(col)
print(len(col))

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')
4

In [ ]:
#7) Print the name of all the columns. 
col=users.columns
print(col)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [ ]:
#8) How is the dataset indexed?
print(users.index)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [ ]:
#9) What is the data type of each column?
for i in users.columns:
  print(i,"-"*3,users[i].dtype)

age --- int64
gender --- object
occupation --- object
zip_code --- object

In [ ]:
#10) Print only the occupation column?
print(users["occupation"])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [ ]:
# 11) How many different occupations are in this dataset? 
print(users["occupation"].unique)
print(users.groupby("occupation")["occupation"].unique().count())

<bound method Series.unique of user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object>
21

In [ ]:
# (#12) What is the most frequent occupation?
# uniq = users.groupby("occupation")["occupation"].count()
# print(uniq.sort_values(ascending = False))
# print(max(uniq))

In [ ]:
#13) Summarize the DataFrame.
print(users.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [ ]:
#14) Summarize all the columns. 
print(users.describe(include = "all"))

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [ ]:
#15) Summarize only the occupation column?
print("MAke sure you access only occuupation column ")
print(users["occupation"].describe())

MAke sure you access only occuupation column
count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [ ]:
# 16) What is the mean age of users?
print("The mean age of the employees is \n",np.mean(users["age"]))
x=np.mean(users["age"])
print(round(x,0))

The mean age of the employees is
 34.05196182396607
34.0

In [ ]:
#17) What is the age with least occurrence? 
age_1=users.groupby("age")["age"].count()
print(age_1.sort_values(ascending=True))
print(age_1[age_1==1])

age
7      1
66     1
73     1
10     1
11     1
      ..
27    35
28    36
22    37
25    38
30    39
Name: age, Length: 61, dtype: int64
age
7     1
10    1
11    1
66    1
73    1
Name: age, dtype: int64

In [ ]:
#18) Discover what is the mean age per occupation.?
age_m = users["age"].unique().sum()
print(age_m)
occ_m= users.groupby("occupation")["occupation"].unique().count()
mean_age_per_occ= age_m/occ_m
print(mean_age_per_occ)

2441
116.23809523809524

In [ ]:
#18) Discover what is the mean age per occupation.?
age_m = users["age"].sum()
age_m
occ_m = users["occupation"].count()
occ_m
mean_age_per_occ= age_m/occ_m
mean_age_per_occ

34.05196182396607

In [ ]:
#19) Discover the Male ratio per occupation and sort it from the most to the least.
rat=users.groupby("occupation")["gender"].value_counts()
rat_1=users.groupby("occupation")["gender"].count()
l1=list(rat)
l2=list(rat_1)
print(l1)
print(l2)
ratio_up=[]
for i in l1[::2]:
  j=0
  ratio = i/l2[j]
  ratio_up.append(ratio)
  j+=1
print(ratio_up)
print(len(ratio_up))

[43, 36, 15, 13, 7, 69, 26, 65, 2, 16, 2, 29, 3, 11, 5, 6, 1, 10, 2, 29, 22, 16, 10, 5, 4, 69, 36, 60, 6, 13, 1, 9, 3, 28, 3, 136, 60, 26, 1, 26, 19]
[79, 28, 7, 95, 67, 18, 32, 16, 7, 12, 51, 26, 9, 105, 66, 14, 12, 31, 196, 27, 45]
[0.5443037974683544, 0.189873417721519, 0.08860759493670886, 0.3291139240506329, 0.02531645569620253, 0.02531645569620253, 0.0379746835443038, 0.06329113924050633, 0.012658227848101266, 0.02531645569620253, 0.27848101265822783, 0.12658227848101267, 0.05063291139240506, 0.45569620253164556, 0.0759493670886076, 0.012658227848101266, 0.0379746835443038, 0.0379746835443038, 0.759493670886076, 0.012658227848101266, 0.24050632911392406]
21

In [ ]:
#20) For each occupation, calculate the minimum and maximum ages 
x=users.groupby("occupation")["age"].unique()
print(users.occupation.unique())
print(list(x))
for i in list(x):
  print(max(i))

['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']
[array([57, 36, 38, 30, 45, 27, 48, 26, 39, 34, 47, 43, 31, 21, 59, 49, 22,
       33, 37, 51, 42, 28, 62, 35, 41, 25, 23, 50, 53, 54, 44, 32, 29, 70,
       46]), array([30, 21, 24, 25, 43, 48, 45, 20, 32, 39, 40, 33, 27, 29, 34, 19, 28,
       44, 36]), array([46, 28, 29, 51, 45, 64, 42]), array([47, 49, 28, 32, 51, 60, 44, 50, 33, 25, 48, 26, 42, 41, 31, 37, 23,
       29, 35, 61, 40, 52, 34, 55, 39, 53, 57, 30, 56, 45, 58, 46, 36, 54,
       38, 27, 63]), array([39, 49, 33, 36, 24, 27, 57, 31, 53, 43, 22, 38, 28, 42, 23, 51, 40,
       46, 63, 32, 45, 30, 29, 44, 34, 26, 25, 70, 37, 35, 61]), array([21, 41, 24, 32, 31, 15, 23, 33, 17, 26, 22, 38, 50, 49]), array([42, 22, 32, 48, 49, 36, 47, 26, 39, 33, 46, 29, 40, 44, 45, 51, 69,
       31, 58, 25, 38]), array([50, 40, 47, 53, 46, 22, 48, 62, 49, 26, 31, 43, 29, 41, 28]), array([42, 20, 32, 35, 26, 50, 23]), array([53, 30, 28, 50, 47, 35, 29, 37, 51, 21, 33, 27]), array([40, 29, 25, 49, 54, 37, 53, 52, 26, 30, 48, 31, 32, 39, 28, 23, 33,
       43, 69, 57, 46, 42, 55, 35, 51, 56, 59, 45, 44]), array([27, 53, 31, 55, 24, 36, 35, 39, 34, 41, 30, 33, 40, 37, 44, 50, 43]), array([16, 33, 20, 35, 11, 55, 13, 26, 30]), array([53, 33, 39, 28, 35, 40, 29, 47, 24, 51, 13, 32, 20, 37, 48, 52, 56,
       26, 22, 50, 45, 43, 25, 34, 31, 27, 64, 30, 57, 44, 55, 23, 46, 21,
       42, 19, 18, 41, 36]), array([30, 41, 29, 26, 37, 27, 50, 38, 32, 31, 49, 53, 20, 36, 40, 35, 33,
       28, 25, 23, 44, 52, 24, 42, 46, 34, 21, 60, 63]), array([61, 60, 65, 68, 57, 73, 51, 70]), array([30, 66, 21, 23, 36, 35, 33, 56, 45, 18]), array([45, 38, 39, 26, 28, 33, 42, 40, 37, 25, 29, 31, 32, 55, 23, 27, 24,
       36, 41, 44]), array([29,  7, 28, 23, 19, 18, 17, 24, 20, 21, 26, 15, 27, 34, 30, 25, 42,
       14, 22, 32, 35, 16, 10, 40, 36, 13, 31, 38]), array([24, 26, 30, 42, 55, 28, 34, 32, 48, 50, 47, 27, 21, 35, 22, 38]), array([23, 26, 25, 32, 21, 49, 30, 27, 44, 36, 24, 52, 42, 60, 43, 50, 40,
       18, 51, 56, 29, 48, 22, 34, 28, 37])]
70
48
64
63
70
50
69
62
50
53
69
55
55
64
63
73
66
55
42
55
60

In [ ]:
#21) For each combination of occupation and gender, calculate the mean age.
x1=users.groupby("occupation")["age"].unique()
print(list(x1))
for i in list(x1):
  print(np.mean(i),end=" ")
x2=users.groupby("gender")["age"].unique()
print(list(x2))
for j in list(x2):
  print(np.mean(j),end=" ")

[array([57, 36, 38, 30, 45, 27, 48, 26, 39, 34, 47, 43, 31, 21, 59, 49, 22,
       33, 37, 51, 42, 28, 62, 35, 41, 25, 23, 50, 53, 54, 44, 32, 29, 70,
       46]), array([30, 21, 24, 25, 43, 48, 45, 20, 32, 39, 40, 33, 27, 29, 34, 19, 28,
       44, 36]), array([46, 28, 29, 51, 45, 64, 42]), array([47, 49, 28, 32, 51, 60, 44, 50, 33, 25, 48, 26, 42, 41, 31, 37, 23,
       29, 35, 61, 40, 52, 34, 55, 39, 53, 57, 30, 56, 45, 58, 46, 36, 54,
       38, 27, 63]), array([39, 49, 33, 36, 24, 27, 57, 31, 53, 43, 22, 38, 28, 42, 23, 51, 40,
       46, 63, 32, 45, 30, 29, 44, 34, 26, 25, 70, 37, 35, 61]), array([21, 41, 24, 32, 31, 15, 23, 33, 17, 26, 22, 38, 50, 49]), array([42, 22, 32, 48, 49, 36, 47, 26, 39, 33, 46, 29, 40, 44, 45, 51, 69,
       31, 58, 25, 38]), array([50, 40, 47, 53, 46, 22, 48, 62, 49, 26, 31, 43, 29, 41, 28]), array([42, 20, 32, 35, 26, 50, 23]), array([53, 30, 28, 50, 47, 35, 29, 37, 51, 21, 33, 27]), array([40, 29, 25, 49, 54, 37, 53, 52, 26, 30, 48, 31, 32, 39, 28, 23, 33,
       43, 69, 57, 46, 42, 55, 35, 51, 56, 59, 45, 44]), array([27, 53, 31, 55, 24, 36, 35, 39, 34, 41, 30, 33, 40, 37, 44, 50, 43]), array([16, 33, 20, 35, 11, 55, 13, 26, 30]), array([53, 33, 39, 28, 35, 40, 29, 47, 24, 51, 13, 32, 20, 37, 48, 52, 56,
       26, 22, 50, 45, 43, 25, 34, 31, 27, 64, 30, 57, 44, 55, 23, 46, 21,
       42, 19, 18, 41, 36]), array([30, 41, 29, 26, 37, 27, 50, 38, 32, 31, 49, 53, 20, 36, 40, 35, 33,
       28, 25, 23, 44, 52, 24, 42, 46, 34, 21, 60, 63]), array([61, 60, 65, 68, 57, 73, 51, 70]), array([30, 66, 21, 23, 36, 35, 33, 56, 45, 18]), array([45, 38, 39, 26, 28, 33, 42, 40, 37, 25, 29, 31, 32, 55, 23, 27, 24,
       36, 41, 44]), array([29,  7, 28, 23, 19, 18, 17, 24, 20, 21, 26, 15, 27, 34, 30, 25, 42,
       14, 22, 32, 35, 16, 10, 40, 36, 13, 31, 38]), array([24, 26, 30, 42, 55, 28, 34, 32, 48, 50, 47, 27, 21, 35, 22, 38]), array([23, 26, 25, 32, 21, 49, 30, 27, 44, 36, 24, 52, 42, 60, 43, 50, 40,
       18, 51, 56, 29, 48, 22, 34, 28, 37])]
40.2 32.473684210526315 43.57142857142857 42.567567567567565 39.12903225806452 30.142857142857142 40.476190476190474 41.0 32.57142857142857 36.75 42.44827586206897 38.35294117647059 26.555555555555557 36.82051282051282 36.86206896551724 63.125 36.3 34.75 24.714285714285715 34.9375 36.42307692307692 [array([53, 33, 39, 28, 49, 35, 42, 30, 21, 40, 38, 20, 19, 29, 27, 23, 18,
       51, 48, 34, 43, 25, 47, 32, 24, 36, 59, 52, 26, 22, 41, 14, 31, 44,
       62, 50, 37, 15, 17, 46, 55, 16, 45, 56, 54, 57, 13, 70]), array([24, 23, 42, 57, 36, 29, 53, 47, 45, 21, 30, 40, 26, 25, 39, 49, 32,
       41,  7, 38, 33, 28, 22, 37, 16, 27, 50, 31, 17, 19, 20, 51, 60, 55,
       48, 43, 15, 61, 44, 54, 34, 46, 13, 56, 66, 35, 11, 65, 18, 68, 63,
       52, 64, 10, 73, 62, 58, 69, 70, 59])]
36.791666666666664 40.45

In [ ]:
##22) For each occupation present the percentage of women and men
y =users.groupby("occupation")["gender"].value_counts()
print(y)
z = users.groupby("occupation")["gender"].count()
print(z)
mean_1= y/z
print(mean_1)

occupation     gender
administrator  M          43
               F          36
artist         M          15
               F          13
doctor         M           7
educator       M          69
               F          26
engineer       M          65
               F           2
entertainment  M          16
               F           2
executive      M          29
               F           3
healthcare     F          11
               M           5
homemaker      F           6
               M           1
lawyer         M          10
               F           2
librarian      F          29
               M          22
marketing      M          16
               F          10
none           M           5
               F           4
other          M          69
               F          36
programmer     M          60
               F           6
retired        M          13
               F           1
salesman       M           9
               F           3
scientist      M          28
               F           3
student        M         136
               F          60
technician     M          26
               F           1
writer         M          26
               F          19
Name: gender, dtype: int64
occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: gender, dtype: int64
occupation     gender
administrator  M         0.544304
               F         0.455696
artist         M         0.535714
               F         0.464286
doctor         M         1.000000
educator       M         0.726316
               F         0.273684
engineer       M         0.970149
               F         0.029851
entertainment  M         0.888889
               F         0.111111
executive      M         0.906250
               F         0.093750
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         M         0.833333
               F         0.166667
librarian      F         0.568627
               M         0.431373
marketing      M         0.615385
               F         0.384615
none           M         0.555556
               F         0.444444
other          M         0.657143
               F         0.342857
programmer     M         0.909091
               F         0.090909
retired        M         0.928571
               F         0.071429
salesman       M         0.750000
               F         0.250000
scientist      M         0.903226
               F         0.096774
student        M         0.693878
               F         0.306122
technician     M         0.962963
               F         0.037037
writer         M         0.577778
               F         0.422222
Name: gender, dtype: float64

In [ ]:
#loading the data set
import pandas as pd
import numpy as np
print("loading the data set:\n")
users1 = pd.read_csv("drinks.csv")
print(users1)

In [ ]:
#loading data set -2
print("Loading data set-2\n")
stud = pd.read_csv("student-mat.csv")
print(stud)

In [ ]:
#PART-A
#1Upload the data file, view the data file in Colab.
#2Read and Assign it to a variable called users and use the 'user_id' as index.
#3Which continent drinks more beer on average?.
#4For each continent print the statistics for wine consumption.
#5Print the mean alcohol consumption per continent for every column.
#6Print the median alcohol consumption per continent for every column.
#7Print the mean, min and max values for spirit consumption.

In [ ]:
#1Upload the data file, view the data file in Colab.
#2Read and Assign it to a variable called users and use the 'user_id' as index.
users1 = pd.read_csv("drinks_1.csv", index_col="user_id")
print(users1)

In [ ]:
#3Which continent drinks more beer on average?.
users1["beer_servings"].max()
z=users1.groupby("continent")["beer_servings"].mean()
a=users1.groupby("continent")["beer_servings"].agg(["mean","max"])
print(z)
print(z.max())
z.sort_values(ascending=False)
z.agg(['max'])
print(a)

In [ ]:
#4 For each continent print the statistics for wine consumption.
w=users1.groupby("continent")["wine_servings"].mean()
w1= users1.groupby("continent")["wine_servings"].median()
w2 = users1.groupby("continent")["wine_servings"].describe(include="all")
print(w,w1,"\n",w2)

In [ ]:
#5Print the mean alcohol consumption per continent for every column.
x=users1.groupby("continent")["beer_servings"].mean()
y=users1.groupby("continent")["spirit_servings"].mean() #pivoting in excel for managig the attribute 
z=users1.groupby("continent")["wine_servings"].mean()
print("beer_avg",x,"\n spirit_mean",y,"\nwines_mean",z)
pd.DataFrame({"beer_avg":x,"spirit_avg":y,"wine_avg":z})

In [ ]:
#5Print the mean alcohol consumption per continent for every column.
#method-2
cont_mean = users1.groupby("continent").mean()
print(cont_mean)

In [ ]:
#6 continent median for alchol consumption
cont_median1 = users1.groupby("continent").median()
print(cont_median1)

In [ ]:
#7Print the mean, min and max values for spirit consumption.
m_me_max_min=users1["spirit_servings"].describe(include="all") 
print(m_me_max_min)
print(users1.groupby("continent")["spirit_servings"].agg(['mean','min','max']))

In [ ]:
#part-2
# PART _B
# Upload new data file ‘student-mat’
# For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column
# Create a lambda function that will capitalize strings.
# Capitalize both Mjob and Fjob
# Print the last elements of the data set.
# Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)
# Multiply every number of the dataset by 10

In [ ]:
#1 Upload new data file ‘student-mat’
stud = pd.read_csv("student-mat.csv",delimiter = ",")
print(stud)

In [ ]:
#2 For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column.
print(stud.loc[:,"school":"guardian"])

In [ ]:
#5. Create a lambda function that will capitalize strings.
cap = lambda x:x.capitalize()

In [ ]:
#6 Capitalize both Mjob and Fjob
#The upper() method returns a string where all characters are in upper case. Symbols and Numbers are ignored.
stud["Mjob"]=stud["Mjob"].apply(cap)
print(stud["Mjob"])
stud["Fjob"]=stud["Fjob"].apply(cap)
print(stud["Fjob"])

In [ ]:
# Print the last elements of the data set.
print(stud.tail(1))
stud[-2:-1]

In [ ]:
# ## Create a function called majority that returns a boolean value to a new column
# ##called legal_drinker (Consider majority as older than 17 years old).
# # def majority(arg):
# #   for i in range(len(arg)+1):
# #     if arg[i]>=17:
# #       stud["legal_drinker"]= True
# #     else:
# #       stud["legal_drinker"]= False

# # majority(stud["age"])
# print(len(stud["age"]))
# print(stud)
# stud.tail()

In [ ]:
def majority(age):
  if age>17:
    return True
  else:
    return False

stud["legal_drinker"]=stud["age"].apply(majority)
print(stud)

In [ ]:
## Multiply every number of the dataset by 10
def times_10(x):
  if type(x) is int:
    return x*10

stud= stud.applymap(times_10) #important
print(stud.head(10))

In [ ]:
for i in range(len(stud.columns)+1):
  if stud.columns.dtype == int:
    return stud[i]*10